html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
}
html {
	background: linear-gradient(22deg, rgba(255,255,255,1) 5%, rgba(134,134,134,1) 93%);
}


/* Text */ 
.topnav, .topnav-about,, .topnav-portfolio, .job, .bio, .medialinks, .title-about, .about-essay {
	 font-family: 'Open Sans', sans-serif;
	
}
.portf-header, .title-about{
	font-family: 'Electrolize', sans-serif;
  margin-bottom: 2px;
}


.wrapper, .wrapper-about, .wrapper-portfolio{
	max-width: 400%;
	display: flex;
	flex-direction: column;
	height: 60%;
	
}

.top, .bottom {
  margin: auto;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;  
 
}

.top {
	order: 1;
	align-items: center;
	justify-content: center;
	flex-grow: 1 ;
	
}
.bottom {
	order: 2;
	align-items: center;
	justify-content: center;
	flex: 1 ;
	
}

.name {

  font-family: 'Electrolize', sans-serif;
  margin-bottom: 2px;
	
}


.medialinks  {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
  color: #f2f2f2;
}

.medialinks  li {
  display: inline-block;
  margin-right: 8px;
}

.medialinks  a {
  text-decoration: none;
  padding: 4px;
}

.medialinks  a:hover {
  background-color: #ddd;
  color: black;
}


.headshot {
  border-radius: 10%;
}


/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* ----------- About page CSS---------------------------- */
.wrapper-about {
	
align-items: center;
order:1

} 
.topnav-about a{
	float: left ; 
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}
.topnav-about a:hover{
	background-color: #ddd;
	color: black;
}

.about-essay, .about-photoroll {
	margin: auto;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;  
}

.about-essay {
	order: 1;
	align-items: center;
	justify-content: center;
	flex-grow: 1 ;
	text-align: center;
	padding: 16px;
	 width: 100%;
	max-width: 50%
	
}
.about-photoroll{
	order: 2;
	align-items: center;
	justify-content: center;
 
	flex-grow:1 ;
	text-align: left;
}

.photogrid {
	align-items: left
	display: flex; 
	flex-wrap: wrap; 
	 padding: 0 4px;
	
}


/*----------Portfolio styling ------------*/

.wrapper-portfolio{
	max-width: 400%;
	display: flex;
	flex-direction: column;
	margin: 0;
	flex-grow: 1;  
	align-items: center;
	
	
}
.topnav-portfolio a{
	float: left ; 
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	order:1 	
}
.topnav-portfolio a:hover {
	background-color: #ddd;
	color: black;
	align-items: center;
	margin-left: auto;
	margin-right: auto; 
	
}
.resp-grid {
	max-width: 400%;
	display: flex;
	flex-direction: column;
	margin: 0;
	flex-grow: 0;  
	
	order: 2 ;
	

}

.resp-grid {
  display: flex;
  flex-wrap: wrap;
 align-items: center; 
}

.resp-grid img {
	margin: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 25vw;
}





